html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* footer section */

/* ------------------------------------------------------------------------------------------------------------------- */
/* Marvel Museum */

/* Navigation Bar */

/* Intro section */

/* Ironman image */

/* Iron Man */

/* Testimoenials */

/* Production */

/* Schedule section */

/* ------------------------------------------------------------------------------------------------------------------- */
/* To-do-list */

/* ------------------------------------------------------------------------------------------------------------------- */
/* My memo */

/* Page Not Found */
