@import "~bootstrap/scss/bootstrap";
$titleFont: "Times New Roman", Times, serif;

.app-body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  min-height: 100vh;
}
